<% provide(:title, "Login") %>
<%= render "posts/nav" %>
<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">


          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off",:placeholder => "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", :class => "submit" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>      

