<% provide(:title, 'Gallery') %>
<%= render 'posts/nav' %>
<script type="text/javascript">
  $('nav button').on('click',function(){
       $('#myNavbar').toggle();
    })
</script>
<div class="gallery" id="gallery">
  <div class="container">  
  <div class="row">
  	<div class="col-sm-12 col-xs-12">
  		 <h4>Photo Gallery</h4>
    <hr class="line" />
      <div class="images"> 
        <a href="/assets/4.jpg">
    		<%= image_tag("/assets/4.jpg") %>
    	</a>
        
    	<a href="/assets/6.jpg">
    		<%= image_tag("/assets/6.jpg") %>
    	</a>
    	<a href="/assets/7.jpg">
    		<%= image_tag("/assets/7.jpg") %>
    	</a>
    	<a href="/assets/8.jpg">
    		<%= image_tag("/assets/8.jpg") %>
    	</a>
    	<a href="/assets/back.jpg">
    		<%= image_tag("/assets/back.jpg") %>
    	</a>
    	<a href="/assets/16.jpg">
    		<%= image_tag("/assets/16.jpg") %>
    	</a>
    	<a href="/assets/12.jpg">
    		<%= image_tag("/assets/12.jpg") %>
    	</a>
    	<a href="/assets/15.jpg">
    		<%= image_tag("/assets/15.jpg") %>
    	</a>
         <a href="/assets/17.jpg">
            <%= image_tag("/assets/17.jpg") %>
        </a>
         <a href="/assets/18.jpg">
            <%= image_tag("/assets/18.jpg") %>
        </a>
         <a href="/assets/19.jpg">
            <%= image_tag("/assets/19.jpg") %>
        </a>
         <a href="/assets/20.jpg">
            <%= image_tag("/assets/20.jpg") %>
        </a>
         <a href="/assets/21.jpg">
            <%= image_tag("/assets/21.jpg") %>
        </a>
         <a href="/assets/22.jpg">
            <%= image_tag("/assets/22.jpg") %>
        </a>
         <a href="/assets/23.jpg">
            <%= image_tag("/assets/23.jpg") %>
        </a>
         <a href="/assets/24.jpg">
            <%= image_tag("/assets/24.jpg") %>
        </a>
         <a href="/assets/25.jpg">
            <%= image_tag("/assets/25.jpg") %>
        </a>
         <a href="/assets/26.jpg">
            <%= image_tag("/assets/26.jpg") %>
        </a>
         <a href="/assets/27.jpg">
            <%= image_tag("/assets/27.jpg") %>
        </a>
         <a href="/assets/28.jpg">
            <%= image_tag("/assets/28.jpg") %>
        </a>
         <a href="/assets/29.jpg">
            <%= image_tag("/assets/29.jpg") %>
        </a>
         <a href="/assets/30.jpg">
            <%= image_tag("/assets/30.jpg") %>
        </a>
         <a href="/assets/31.jpg">
            <%= image_tag("/assets/31.jpg") %>
        </a>
         <a href="/assets/32.jpg">
            <%= image_tag("/assets/32.jpg") %>
        </a>
         <a href="/assets/33.jpg">
            <%= image_tag("/assets/33.jpg") %>
        </a>
         <a href="/assets/34.jpg">
            <%= image_tag("/assets/34.jpg") %>
        </a>
 </div>
</div>
</div>
</div>
