<% provide(:title, "Blog-Archives") %>
<%= render 'posts/nav' %>
<script type="text/javascript">
  $('nav button').on('click',function(){
       $('#myNavbar').toggle();
    })
</script>
<div class="post-archive">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-sm-12">
			  <h3>Blog Archives</h3>
				    <% @posts.each do |day,posts| %>
				     <ul class="archive-list">
			    		<li class="line">
                      <h4><%= "#{day}(#{posts.count})"%></h4>
  			    	  <% for post in posts %>
  				         <div class="inner-archive">
    			            <p><%= link_to post.title, post %>
    			            .<%= link_to post.created_at.strftime("%B %d %Y"), :class => "time" %></p>
  				         </div>
                      <% end %>
                        <hr class="border">
                       </li>
                   </ul>
               <% end -%>
   			</div>
		</div>
	</div>
</div>