<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="form-group">
    <li>
      <%= form.text_field :title, id: :post_title, :placeholder => 'Title',:class=>'form-control' %>
    </li>
    <li>
      <%= form.file_field :image, id: :post_image %>
    </li>
    <li>
      <%= form.date_select :date, id: :post_date,:class=>'form-control' %>
    </li>
  </ul>   
    <%= form.text_area :content, id: :post_content,:rows => 10,:cols=>90, :placeholder => "Enter ur conent",:class=>'form-control' %>
    <br/><br/>
   <div class="actions">
    <%= form.submit "Save", :class => "submit btn btn-danger" %>
  </div>
<% end %>
