   
   <nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">MainPage</a></li>
        <li><%= link_to 'Archives', archives_index_path %></li>
        <li><a href="#">Contact-us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <%if user_signed_in? %>
         <li><%= link_to current_user.email, '#'  %></li>
         <li> <%= link_to 'Log-Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to 'Log-in', new_user_session_path %></li>
         <% end %>
      </li>
      </ul>
    </div>
  </div>
</nav> 
   
