<% provide(:title, "Blog") %>
<%= render 'nav' %>
<script type="text/javascript">
  $('nav button').on('click',function(){
       $('#myNavbar').toggle();
    })
</script>

<div class="post">
<div class="container-fluid">
  <div class="row">
   <div class=" col-sm-12 col-xs-12 col-md-9 col-lg-9">

     <p id="notice"><%= notice %></p>
     <ul class="list">
      <% @posts.each do |post| %>
      <li>
        <h5><span class="fa fa-clock-o" aria-hidden="true"></span><%= post.date.strftime("%B %d %Y") rescue nil%> </h5>
        <h3><%= post.title.capitalize %></h3>
        <p><%=  truncate(post.content, length: 200) %></p>
        <%= link_to 'Read-more', post, :id =>"show" %>
        <% if current_user %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?', :id =>"del" } %>
        <% end %>
        <hr class="border" />
      </li>
    <% end -%>
   </ul>
  <br>
  <%= will_paginate @posts, :class => "page", renderer: BootstrapPagination::Rails%>
  </div>
  </div>
 </div>

</div>

