@import 'var';

.aug{
  position:relative;
  background:$back;
  p{
   font-family:$f6;
   color:white;
   font-size:1.5em;
   line-height:2em;
   float:left;
   width:50%;
   margin-left:5%;
   text-align:justify;
   @media screen and(max-width:480px){
     float:none;
     width:80%;
   }
   span{
     color:black;
   }
   a{
     color:black;
     &:hover{
       text-decoration:none;
       color:#3aaf85;
     }
   }
  }

   h3{
     font-family:$f1;
     font-size:2em;
     color:white;
     font-weight:bold;
     text-align:center;
   }
   .line{
	  border:0.5px solid black;
	  width:10%;
	  margin-left:45%;
	}
	img{
	 width:25%;
	 height:25%;
	 margin-left:7%;
	 margin-bottom:2%;
	 @media screen and(max-width:480px){
	 display:none;
	 }
	}
}


.aug30{
  position:relative;
  background:white;
  height:100%;
  p{
   font-family:$f6;
   color:$back;
   font-size:1.5em;
   line-height:2em;
   float:left;
   width:50%;
   margin-left:5%;
   margin-top:3%;
   text-align:justify;
   @media screen and(max-width:480px){
     float:none;
     width:80%;
   }
   span{
     color:black;
   }
   a{
     color:$back;
     border:2px solid black;
     border-radius:5px;
     padding:5px;
     &:hover{
       text-decoration:none;
       border-color:#3aaf85;
     }
   }
  }

   h3{
     font-family:$f1;
     font-size:2em;
     color:$back;
     font-weight:bold;
     text-align:center;
   }
   .line{
	  border:0.5px solid black;
	  width:10%;
	  margin-left:45%;
	}
	img{
	 width:30%;
	 height:30%;
	 margin-left:7%;
	 margin-top:7%;
	  @media screen and(max-width:480px){
	 display:none;
	 }
	}
}


.gallery{
	position:relative;
	margin-top:5%;
	h4{
	 text-align:center;
	 color:$back;
	 font-family:$f1;
	 font-size:2em;
	}
	.line{
	  border:0.5px solid black;
	  width:6%;
	  margin-left:46.5%;
	}
	p{
	 @extend h4;
	 margin-top:3%;
	 margin-bottom:5%;
	 font-size:1.5em !important;
	}

	.images{
	  width:100%;
	  padding:0px;
	  margin-left:10%;
	  @media screen and(max-width:480px){
	  margin-left:0;    
	  margin-right:0;
	 }
	  img{
	    width:20%;
	    height:200px;
	    padding:0px;
	    margin-right:0 !important;
	    @media screen and(max-width:480px){
	    width:100%;    
	 }
	   }
	}
	.see-more{
	   positionn:relative;
	   margin-top:5%;
	   margin-left:45%;
	   @media screen and(max-width:480px){
	     margin-left:30%;
	     margin-top:10%;   
	   }
	   a{
	     border:1px solid $back;
	     border-radius:5px;
	     padding:5px;
	     font-size:1.5em;
	     font-family:$f1;
	     &:hover{
	       text-decoration:none;
	       border-color:red;
	       color:red;
	     }
	   }
	}
}

.contact{
	position:relative;
	margin-top:5%;
	background:$back;
	height:270px;
	ul{
	  margin-top:5%;
	  margin-left:30%;
	  list-style:none; 
	  li{
	   display:inline-block;
	   margin-right:10%;
	   a{
	    color:black;
	    font-size:1.5em;
	    padding:5px;
	    &:hover{
	      border:2px solid white;
	   	  border-radius:25px;
	      color:white;
	      font-size:2em;
	    }
	   }
	  }
	}
	.copyright{
	  margin-left:7%;
	  @media screen and(min-width:481px)and(max-width:768px){
	          margin-left:0;
	    }
	      span{
	        color:white;
	      }
	      li{
	        @media screen and(max-width:480px){
	         margin-top:18px;
	        }
	        @media screen and(min-width:668px)and(max-width:768px){
	          margin-right:4%;
	       }
	        @media screen and(min-width:481px)and(max-width:1199px){
         	  width:100%;
         	  margin-bottom:3%; 
              margin-left:15%;
           }
	    a{
	       border:0 !important;
	       @media screen and(min-width:481px)and(max-width:768px){
	       font-size:1em;
	     }
	     &:hover{
	      @media screen and(min-width:481px)and(max-width:768px){
	       font-size:1em;
	       border:0 !important;
	       text-decoration:none;
	       color:white;
	       border-radius:0 !important;
	     }
        }
       }
	 }
  }
}