@import'var';

.new-post{
   margin-top:5%;
	 margin-left:15%;
     @media screen and(max-width:480px){
        margin-top:15%;
        margin-left:5%;
     }
     .submit{
      margin-left:0;
    }
	 a{
	  color:$back;
	  &:hover{ 
        background:none;
	  }
	 }
  ul{
    list-style:none;
    width:100%;
    margin-left:-40px;
    margin-bottom:5%;
    li{
     display:inline-block;
     margin-right:5%;
     @media screen and(max-width:480px){
      margin-bottom:3%;
     }

    }
    
    }
 }