@import 'var';

.post-show{
  margin-top:5%;	
  margin-left:15%;
  margin-bottom:5%;
  @media screen and(max-width:1024px){
    margin-top:15%;
    margin-left:5%;
  }
  .para{
    p{
      color:black;
      font-family:$f5;
      line-height:2em;
      font-size:2em;
      text-align:justify;
    }
     h5{
      color:black;
       span{
         color:red;
         font-size:2em;
         margin-right:3%;
       }
    }
     img{
        max-width:100%;
        @media screen and(min-width:481px)and(max-width:1365px){
          max-width:50%;
          height:150px;
        }
       }
    a{
     font-fmily:$f1;
     border:1px solid $back;
     border-radius:5px;
     padding:5px;
     font-size:1em;
     &:hover{
      text-decoration:none;
      background:none;
      border-color:black;
      color:$back;
     }

    }
  }
}