$back:#3F51B5;
$fcolor:#000000;
$f0:'Rokkitt', serif;
$f1:'Lobster Two', cursive;
$f2:'Cormorant Garamond', serif;
$f3:'Cookie', cursive;
$f4:'Berkshire Swash', cursive;
$f5:'Scheherazade', serif;
$f6:'Questrial', sans-serif;
$f7:'Poiret One', cursive;
$acolor:#ffffff;
$breakpoint:480px;
$breakpoint1:764px;
$breakpoint2:960px;
$breakpoint3:1367px;
$breakpoint4:1980px;
$aback:#00b489;