// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type="submit"]{
	padding:10px;
	@media screen and(min-width:765px){
	  margin-left:-70px;
	  margin-top:50px;
	}
}

