@import 'var';
.login{
	margin-top:10%;
	@media screen and(max-width:480px){
	 margin-top:20%;
	}
	@media screen and(min-width:480px)and(max-width:764px){
	 margin-top:15%;
	}
	.submit{
	 	margin-left:0;
	 	border: 0;
		border-bottom: solid 2px #00FA9A !important;
		color: inherit;
		display: block;
		outline: 0;
		padding: 1em 2em 2em 1em;
		text-decoration: none;
		width: 100%;
		font-family:$f1;
		color:$back;
		font-size:1.5em;
		font-weight:bold;
	}
	input[type="password"],
	input[type="email"]
	 {
	    border: 0;
		border-bottom: solid 2px #00FA9A !important;
		color: inherit;
		display: block;
		outline: 0;
		padding: 1em 2em 2em 1em;
		text-decoration: none;
		width: 100%;
		margin-bottom:2em;
		font-family:$f1;
		color:$back;
		font-size:1.5em;
		font-weight:bold;
	}
}