// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a{
   &:hover{
    background:none;
   }
}
@import 'var';
@import 'events';
@import 'aug';

.home{
  width:100%;
  background:$back;
  img{
	position:relative;
	margin-top:10%;
	margin-left:10%;
	width:8%;
	height:8%;
	border:2px solid white;
	border-radius:25px;
  @media screen and(max-width:480px){
   margin-top:20%;
   width:25%;
   height:25%;
  }
  @media screen and(min-width:481px)and(max-width:764px){
   margin-top:10%;
   width:15%;
   height:15%;
  }
  @media screen and(min-width:765px)and(max-width:991px){
   margin-top:10%;
   width:12%;
   height:12%;
  }

  }
  .line{
    border:0.5px solid black;
    margin-left:10%;
    margin-top:2%;
    width:30%;
  }
  p{
    margin-top:2%;
    margin-bottom:8%;
    margin-left:10%;
    color:white;
    font-size:2.5em;
    font-family:$f6;
    text-align:left;
    max-width:75%;
    line-height:1.5;
    @media screen and(max-width:480px){
     font-size:2.2em;
     max-width:100%;
     line-height:2;
    }
    @media screen and(min-width:481px)and(max-width:991px){
     font-size:2.2em;
     max-width:100%;
     line-height:2;
    }
  }
  a{
    color:black;
    &:hover{
     color:white;
     text-decoration:none;
     background:none;
    }
  }
 }

 .nav{
  .menu{
   list-style:none;
   width:100%;
   height:40px;
   background:rgba(0,0,0,0.5);
   margin-bottom:5%;
   li{
     display:inline-block;
     margin-left:8%;
     margin-top:10px;
     a{
      font-weight:bold;
      font-family:$f0;
      font-size:1.5em;
      text-decoration:none;
      color:white;
      padding:7px;
      margin-right:5em;
      @media screen and(min-width:992px)and(max-width:1150px){
        margin-right:3em;
      }
     }
     .active{
      background:white;
      color:black;
     }
   }
  }
}

@media screen and(max-width:991px){
 .navi{
   position:fixed;
   top:0px;   
   z-index:1;
     .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        a {
           padding: 8px 8px 12px 32px;
           text-decoration: none;
           font-size: 25px;
           color: #818181;
           display: block;
           transition: 0.3s;
           border-bottom:1px solid $back;
           font-family:$f1;
           margin-top:8%;
           &:hover{
             color:#f1f1f1;
           }
         }
       .closebtn {
         position: absolute;
         top: 0;
         right: 25px;
         font-size: 36px;
         margin-left: 50px;
         border-bottom:none;
         }
      }  
      
    #main{
       transition: margin-left .5s;
       padding: 16px;
       span{
        color:black;
        font-size:2em;
       }
      }
   }
}